$primaryColor: #1d295f; 
$secondaryColor: darkred;
$accentColor: #5C9666;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;